.custom-img {
    width: 300px;
    height: 490px;
    object-fit: cover;
  }

  .custom-section {
    background-color: #f2f2f2;
  }
  .custom-footer {
    padding: 10px 0;
    text-align: center;
    font-size: 14px;
    color: #888;
  }
  body{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  }