.header-left,
.header-right {
  display: flex;
}



.header-center {
  display: flex

}
i {
  margin: 13px;
}

header a {
  color: gold;

}

body{
  background-image: url(Soft_thunder/img/barun-ghosh-TD00EblxBRQ-unsplash.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  color: goldenrod;
}

.first-row {
  height: 20vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem;
}

.logo {
  font-size: 1.5rem;
}
 
  .business-name {
    font-size: 2rem;
    }
    
    nav {
    display: flex;
    justify-content: center;
    }
    
    nav a {
    font-size: 1.2rem;
    margin: 0 1rem;
    text-decoration: none;
    color: goldenrod;
    }
    nav a:hover{
      color: rgb(0, 0, 0);
    }
    
    .second-row {
    height: 70vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem;
    }
    
    .second-row {
    width: 50%;
    text-align: center;
    }
    
    .second-row h1 {
    font-size: 4rem;
    margin-bottom: 2rem;
    }
    
    .second-row p {
    font-size: 1.2rem;
    margin-bottom: 2rem;
    }
    
    .second-row button {
    background-color: #0a0a0a00;
    color: #fff;
    padding: 1rem 2rem;
    border: solid;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 2rem;
    }
    
    .third-row {
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem;
    padding: 2rem;
    }
    
    .social-icon {
    font-size: 2rem;
    margin: 0 1rem;
    cursor: pointer;
    }
    
   