/* CSS reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* Header styles */
header {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
}






.header-left,
.header-right {
  display: flex;
}



.header-center {
  display: flex

}
i {
  margin: 13px;
}

header a {
  color: gold;

}

body{
  background-image: url(img/2028cf3327ab319e5181f2e51674bb26.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  color: goldenrod;
}

.first-row {
  height: 20vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem;
}

.logo {
  font-size: 1.5rem;
}
 
  .business-name {
    font-size: 2rem;
    }
    
    nav {
    display: flex;
    justify-content: center;
    }
    
    nav a {
    font-size: 1.2rem;
    margin: 0 1rem;
    text-decoration: none;
    color: #333;
    }
    
    .second-row {
    height: 70vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem;
    }
    
    .second-row {
    width: 50%;
    text-align: center;
    }
    
    .second-row h1 {
    font-size: 4rem;
    margin-bottom: 2rem;
    }
    
    .second-row p {
    font-size: 1.2rem;
    margin-bottom: 2rem;
    }
    
    .second-row button {
    background-color: #333;
    color: #fff;
    padding: 1rem 2rem;
    border: none;
    border-radius: 5px;
    font-size: 1.2rem;
    cursor: pointer;
    margin-top: 2rem;
    }
    
    .third-row {
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem;
    padding: 2rem;
    }
    
    .social-icon {
    font-size: 2rem;
    margin: 0 1rem;
    cursor: pointer;
    }
    
   